# Stock Price Pridiction Machine Learning Project
## Library Used for Pandas -Data Analysis, Sklearn -Machine Learning  
### This Project Used Supervised Machine Learning Type & Used  LinearRegression Aalgorithm
### Yasir Ahmed Khan 2K20/ITE/156
### Janib Hussain 2K20/ITE/61
### Muhammad Yasir 2K20/ITE/71
### Huzaifa 2K20/ITE/56
### Atif 2K20/ITE/27

# Import Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Data Load

In [3]:
data=pd.read_csv('Stock Price.csv')

In [4]:
data

,Company Name,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,CMCSA,12/31/1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,KMI,1/2/1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,INTC,1/5/1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,MU,1/6/1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,GE,1/7/1987,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013
...,...,...,...,...,...,...,...,...,...
4387,YRIV,9/23/2004,13198.790040,13282.860350,13179.129880,13280.429690,13280.429690,371459600,1726.455860
4388,YTEN,9/24/2004,13236.250000,13253.330080,13035.160160,13066.839840,13066.839840,404185600,1698.689179
4389,ZKIN,9/27/2004,13053.599610,13067.759770,12908.099610,13021.900390,13021.900390,318864400,1692.847051
4390,ZOM,9/28/2004,12933.320310,12967.070310,12884.400390,12950.799810,12950.799810,299312200,1683.603975
4391,ZYME,9/30/2004,13056.799810,13154.910160,13052.379880,13120.030270,13120.030270,360964200,1705.603935

# Seprate Data for Model  Train & Test

In [24]:
X=data[['Open','High','Low']]
Y=data['CloseUSD']

# Create and  fit your model

In [7]:
from sklearn.linear_model import LinearRegression

In [25]:
 Model =LinearRegression().fit(X,Y)

In [12]:
Model

LinearRegression()

In [16]:
Model.coef_

array([-0.07824471,  0.10945547,  0.09876933])

In [17]:
Model.intercept_

0.0689627100684902

# Time Check My Model and Pridiction

In [20]:
Model.predict([[2568.,2568.300049,2568.300049]])

C:\Users\Abdul Qadir\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([333.92031989])

In [18]:
data.head(5)

,Company Name,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,CMCSA,12/31/1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,KMI,1/2/1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,INTC,1/5/1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,MU,1/6/1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,GE,1/7/1987,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013

# My Model are Perfectly Run Correct Pridiction

# I try more Pridiction

In [35]:
data.head(12)

,Company Name,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,CMCSA,12/31/1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,KMI,1/2/1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,INTC,1/5/1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,MU,1/6/1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,GE,1/7/1987,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013
5,BAC,1/8/1987,2603.300049,2603.300049,2603.300049,2603.300049,2603.300049,0,338.429006
6,AAPL,1/9/1987,2561.699951,2561.699951,2561.699951,2561.699951,2561.699951,0,333.020994
7,MSFT,1/12/1987,2614.899902,2614.899902,2614.899902,2614.899902,2614.899902,0,339.936987
8,SIRI,1/13/1987,2590.800049,2590.800049,2590.800049,2590.800049,2590.800049,0,336.804006
9,HPQ,1/14/1987,2578.199951,2578.199951,2578.199951,2578.199951,2578.199951,0,335.165994
10,CX,1/15/1987,2559.100098,2559.100098,2559.100098,2559.100098,2559.100098,0,332.683013
11,CZR,1/16/1987,2542.600098,2542.600098,2542.600098,2542.600098,2542.600098,0,330.538013

In [39]:
Model.predict([[2614,2614.,2614]])

C:\Users\Abdul Qadir\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([339.83692653])

## Now My Model is Predict 100% Good so I check my Model Score

In [43]:
Model.score(X,Y)

0.9998739026281614

# My Model 99% Accuracy